@model IEnumerable<Core.Entity.Player>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllPlayers</title>
</head>
<body>
    <form action="" method="post">
        Name: <input type="text" name="name"><br>
        <button class="btn btn-primary" type="submit">Tilføj</button>
    </form>

    <form action="player/ClearAllVotes" method="post">
        <button class="btn btn-primary" type="submit" onclick="alert('Der er nulstillet')">Nulstil afstemning!</button>
    </form>

    <form action="player/winner" method="get">
        <button class="btn btn-primary" type="submit">Se Resultat</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td>



                        <form action="player/VoteForMember" method="post">
                            @Html.Hidden("id", item.Id)
                            kommentar: <input type="text" name="comment"><br>
                            @*<input type="hidden" id="id" name="id" value="@item.Id">*@
                            <button class="btn btn-primary" type="submit" onclick="alert('Du har stemt!')">Stem!</button>
                        </form>



                        <form action="player/deleteMember" method="post">
                            <button class="btn btn-primary" type="submit" onclick="alert('bruger slettet!')">Slet spiller! </button>
                            <input type="hidden" name="id" value="@item.Id">
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>




